//Estilos profesionales del senior profesional
//tipografia cargada desde google font borrala del repo noob
@import url('https://fonts.googleapis.com/css?family=Barlow:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

body{
  

    font-family: 'Barlow', sans-serif;


}
//fintipo
/*cuadro trasparente*/
 .transparencia {
    background-color: #d2c717!important;
    opacity: 0.6!important;
}
//h2 logos
.marco-logo h2 {

    padding: 0px 22px;
    font-weight: 300;

}
/*Empresa*/
@media(max-width:480px){
    .recuadro-empresa .bloque-derecho .marco-logo{
        display: none
    }
    .col-12.col-md-10.col-lg-6.col-xl-5.text-center.mt-5.mt-lg-0.bloque-derecho {

        margin-top: 10px !important;

    }
}
.carousel-control-prev, .carousel-control-next{
    display:none!important;
}
/*servicios*/
.recuadro-servicios .icono-info {
    height: auto!important;
    width: 110px;
}
@include media-breakpoint-down(sm) {
  .recuadro-servicios {

    .icono-info {
      height: auto!important;
      width: 80px;
    }
  }
} 
.recuadro-servicios .texto-servicios {
    width: 80%!important;
    min-height: 100px!important;
    height: auto!important;
    font-size: 20px!important;
    border: none!important;
    border-radius:25px!important; 
    color:#4a4a4a!important;
    background-color: rgba(255, 255, 255, .5)!important;
    padding: 35PX 0!important;
}
@media(max-width:767.98px){
    .recuadro-servicios .texto-servicios {

        width: 96% !important;
        min-height: 100px !important;
        
    }
}
.recuadro-servicios .caja-texto {
    position: relative;
}
.recuadro-servicios .boton-cerrar {
    position: absolute;
    right: 13%;
    background:  #1c1c1c;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: 5px 0 0 0;

}
/*Politica*/
.recuadro-politica .texto, .recuadro-empresa .bloque-derecho .texto {
  padding: 20px!important;
}
.recuadro-politica .transparencia {
    bottom: 15px;
    top: unset;
    left: unset;
}
@media (max-width:767.95px){
    .recuadro-politica .texto {
    margin-top: 10px;
    background:rgba(255,255,255, 0.4);

}
}

/*contacto*/
.recuadro-contacto {
 background-color: #4a4a4a!important;
}

@media(max-width:767.98px){
    .recuadro-contacto  .marco-logo, .recuadro-contacto .recuadro-input {

        width: 80% !important;

    }

}
