//Estilos profesionales del senior profesional
//tipografia cargada desde google font borrala del repo noob
@import url('https://fonts.googleapis.com/css?family=Barlow:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

body{
  

    font-family: 'Barlow', sans-serif;


}
//fintipo
/*cuadro trasparente*/
 .transparencia {
    background-color: #d2c717!important;
    opacity: 0.6!important;
}
/*Empresa*/
@media(max-width:480px){
    .recuadro-empresa .bloque-derecho .marco-logo{
        display: none
    }
}
.carousel-control-prev, .carousel-control-next{
    display:none!important;
}
/*servicios*/
.recuadro-servicios .icono-info {
    height: auto!important;
    width: 110px;
}
@include media-breakpoint-down(sm) {
  .recuadro-servicios {

    .icono-info {
      height: auto!important;
      width: 80px;
    }
  }
} 
.recuadro-servicios .texto-servicios {
    width: 80%!important;
    min-height: 100px!important;
    height: auto!important;
    font-size: 20px!important;
    border: none!important;
    border-radius:25px!important; 
    color:#4a4a4a!important;
    background-color: rgba(255, 255, 255, .5)!important;
}
@media(max-width:767.98px){
    .recuadro-servicios .caja-texto {

        width: auto;
        height: auto;
        min-width: 400px;
        min-height: 200px;

    }
}
/*Politica*/
.recuadro-politica .texto, .recuadro-empresa .bloque-derecho .texto {
  padding: 20px!important;
}
.recuadro-politica .transparencia {
    bottom: 15px;
    top: unset;
    left: unset;
}
/*contacto*/
.recuadro-contacto {
 background-color: #4a4a4a!important;
}