//Acá van todos los estilos generales de la app
html {
  scroll-behavior: smooth;
}

body {
  font-family: BarlowCondensed;
}

h1,h2 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.ancla {
  position: relative;
  top: -87px;
  visibility: hidden;
}

//estilos para un scrollbar mas lindo

::-webkit-scrollbar{
  width: 10px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
  background-color: #cacaca;
  background-image: -webkit-linear-gradient(90deg,rgba(255, 255, 255, .2) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%,transparent 75%,transparent)
}