//Acá van todos los estilos generales de la app
html {
  scroll-behavior: smooth;
}

body {
  font-family: BarlowCondensed;
}

h1,h2 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.ancla {
  position: relative;
  top: -88px;
  visibility: hidden;
}